<div class="panel panel-primary">
  <div class="panel-heading">
    <span>{{ title }}</span> 
    <button type="button" (click)="addNew()" class="btn btn-success new-button-pull-right">Novo</button>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let people of peoples">
          <tr class="item-list"  >
            <td (click)="editPeople(people.id)">{{people.name}}</td>
            <td (click)="editPeople(people.id)">{{people.email}}</td>
            <td>
              <button type="button" (click)="deletePeople(people.id, people.name)" class="btn btn-warning">Excluir</button>
              &nbsp;&nbsp;
              <button type="button" [disabled]="people.dependents.length >= 3" (click)="addNewDependent(people.id)" class="btn btn-success">Novo Depend.</button>
            </td>
          </tr>
          <ng-container *ngIf="(people.dependents.length > 0)">
              <tr class="item-list" *ngFor="let sub of people.dependents">
                <td (click)="editDependent(people.id, sub.id)">&nbsp;&nbsp;&nbsp;<b>&#8594;&nbsp;{{sub.name}}</b></td>
                <td (click)="editDependent(people.id, sub.id)"><b>{{dependentTypes[sub.dependentType]}}</b></td>
                <td>
                  <button type="button" (click)="deleteDependent(sub.id, sub.name)" class="btn btn-warning">Excluir</button>
                </td>
              </tr>
          </ng-container>
        </ng-container>
        
      </tbody>

    </table>

  </div>