<div class="panel panel-primary">
  <div class="panel-heading">
    <span>{{ title }}</span> 
    <button type="button" (click)="addNew()" class="btn btn-success new-button-pull-right">Novo</button>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let people of peoples">
          <tr >
            <td>{{people.name}}</td>
            <td>{{people.email}}</td>
            <td><button type="button" (click)="addNewDependent(people.id)" class="btn btn-success">Novo Depend.</button></td>
          </tr>
          <!-- <ng-container *ngIf="(people.categoryList.length > 0)">
              <tr *ngFor="let sub of people.categoryList">
                <td>&nbsp;&nbsp;&nbsp;<b>&#8594;&nbsp;{{sub.name}}</b></td>
                <td><b>{{sub.email}}</b></td>
                <td></td>
              </tr>
          </ng-container> -->
        </ng-container>
        
      </tbody>

    </table>

  </div>