<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <input type="hidden" class="form-control" formControlName="id" />

      <div class="form-group">
        <label class="col-md-4">Nome</label>
        <input type="text" class="form-control" formControlName="name" />
      </div>

      <div class="form-group">
        <label class="col-md-4">E-mail</label>
        <input type="text" class="form-control" formControlName="email" />
      </div>

      <div class="form-group">
        <label class="col-md-4">Data nascimento</label>
        <input type="date" class="form-control" formControlName="dateBirth" />
      </div>

      <!-- <div class="form-group">
        <label class="col-md-4">Dependente de:</label>
        <select class="form-control" formControlName="peopleDependent">
          <option></option>
          <ng-container *ngFor="let people of peoples">
            <option value="{{people.id}}">{{people.name}}</option>
          </ng-container>

        </select>
      </div> -->
      
      <div class="form-group">
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Salvar</button>
      </div>
    </form>
  </div>
</div>