<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <input type="hidden" class="form-control" formControlName="id" />
      
      <div class="form-group">
        <label class="col-md-4">Dependente De</label>
        <input type="hidden" class="form-control" formControlName="peopleId" />
        <input type="text" disabled class="form-control" formControlName="peopleName" />
      </div>

      <div class="form-group">
        <label class="col-md-4">Tipo de dependente</label>
        <select class="form-control" formControlName="dependentType">
          <option ></option>
          <ng-container *ngFor="let dt of dependentType | keyvalue">
            <option value="{{dt.key}}">{{dt.value}}</option>
          </ng-container>
        </select>
      </div>
      
      <div class="form-group">
        <label class="col-md-4">Nome</label>
        <input type="text" class="form-control" formControlName="name" />
      </div>

      <div class="form-group">
        <label class="col-md-4">Data nascimento</label>
        <input type="date" class="form-control" formControlName="dateBirth" />
      </div>

      
      
      <div class="form-group">
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Salvar</button>
      </div>
    </form>
  </div>
</div>